<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="https://www.linkedin.com/in/isaac-baby-2a236420/" target="_blank">LinkedIn</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="http://www.aspnet5webapi-angularui.com" target="_blank">http://www.aspnet5webapi-angularui.com</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/klisaac/AspNet5WebApiAngular" target="_blank">https://github.com/klisaac/AspNet5WebApiAngular</a></div>
            </div>
            <br />            
        </div>
    </div>
</div>